:root {
    --green01: #081c15;
    --green02: #1b4332;
    --green03: #2d6a4f;
    --green04: #a3b18a;
    --green05: #dad7cd;
    --green06: #84a98c;
    --green07: #52796f;
    --green08: #354f52;
    --black: #000000;
    --blue01: #012a4a;
    --blue02: #013a63;
    --blue03: #01497c;
    --blue04: #014f86;
    --blue05: #2a6f97;
    --blue06: #2c7da0;
    --blue07: #468faf;
    --blue08: #61a5c2;
    --blue09: #89c2d9;
    --blue10: #a9d6e5;
    --gray01: #0d1b2a;
    --gray02: #1b263b;
    --gray03: #415a77;
    --gray04: #778da9;
    --gray05: #e0e1dd;
    --gray06: #eff1ed;
    --gray07: #adb5bd;
    --gray08: #6c757d;
    --gray09: #495057;
    --gray10: #343a40;

}
