<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0912 Vue 代辦事項 ToDos</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/class.css">
    <link rel="stylesheet" href="css/mycolor.css">
    <style>
        .completed{
            text-decoration: line-through;
            color: red;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 mt-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">代辦事項</span>
                        <input type="text" class="form-control" placeholder="" v-model="newTodo">
                        <button class="btn btn-outline-secondary" type="button" id="" @click="addTodo()">新增</button>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link"  href="#" @click="visibility= 'all'" :class="{'active' : visibility=='all'}">全部</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" @click="visibility= 'active'" :class="{'active' : visibility=='active'}">進行中</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" @click="visibility= 'completed'" :class="{'active' : visibility=='completed'}">已完成</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item" v-for="(item, key) in filterTodo">
                                    <div class="d-flex justify-content-between">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" v-model="item.completed">
                                            <label class="form-check-label" :class="{'completed' : item.completed}" for="flexCheckDefault">
                                                {{ item.title }}
                                            </label>
                                        </div>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="removeTodo(item)"></button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <span>
                                還有XX筆任務未完成
                            </span>
                            <a href="#">清除所有任務</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const App = {
            data() {
                return {
                    newTodo: '',
                    visibility: 'all',
                    todos: [
                        {
                            id: '001',
                            title: '吃飯',
                            completed: false
                        },
                        {
                            id: '002',
                            title: '洗澡',
                            completed: false
                        },
                        {
                            id: '003',
                            title: '玩遊戲',
                            completed: false
                        },
                        {
                            id: '004',
                            title: '睡覺',
                            completed: false
                        },
                    ]
                }
            },
            methods: {
                addTodo() {
                    console.log(Date.now());
                    const timestamp = Date.now();
                    // this 指的是 App
                    // 重新指定 newTodo 內容給 mytitle 可設定 trim() 以避免輸入的文字內容前面空白
                    const mytitle = this.newTodo.trim();

                    // 若 mytitle 內容為空則不執行
                    if (!mytitle) {
                        return;
                    }

                    this.todos.push({
                        id: timestamp,
                        title: mytitle,
                        completed: false
                    });

                    // 寫入後原 input 欄位清空
                    this.newTodo = '';
                },
                removeTodo(todo){
                    // 將 App 指定給 vm 以避免後面用 this 時不知道是哪個 this
                    const vm = this;

                    const newIndex = vm.todos.findIndex((item, index) => {
                        return todo.id == item.id
                    });
                    // 將 todos 內的符合 newIndex 的資料刪除
                    vm.todos.splice(newIndex, 1);
                }
            },
            computed: {
                filterTodo(){
                    const vm = this;
                    if(vm.visibility == 'all'){
                        return vm.todos;
                    }else if (vm.visibility == 'active'){
                        const activeTodo = [];
                        vm.todos.forEach((item, key) => {
                            if(!item.completed){
                                activeTodo.push(item);
                            }
                        });
                        return activeTodo;
                    }else if (vm.visibility == 'completed'){
                        const completedTodo = [];
                        vm.todos.forEach((item, key) => {
                            if(item.completed){
                                completedTodo.push(item);
                            }
                        });
                        return completedTodo;
                    }
                }
            }
        }
        Vue.createApp(App).mount('#app')
    </script>
</body>

</html>